authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName=DNS:localhost, IP:192.168.0.117, IP:127.0.0.1, IP:0.0.0.0